<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if logged_in? %>
        <li><%= link_to "Profile", current_user %></li>
      <%else%>
         <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Log In", login_path %></li>
      <%end%>
    </ul>
  </nav>
</footer>